<aside class="commentBox">
    <header class="commentHeader">
        <h3 class="commenter">{{{user.userName}}}:</h3>
        <p class="date">{{{createdAt}}}</p>
    </header>
    <main class="commentBody">
        <p>{{{body}}}</p>
    </main>
</aside>