<article>
    <header class="articleHeader">
        <h2 class="articleTitle">{{{title}}}</h2>
        <p class="date">{{{createdAt}}}</p>
    </header>
    <span class="author">{{{user.userName}}} wrote:</span>
    <p class="articleBody">
        {{{body}}}
    </p>
</article>