<form type="submit" id="addPost">
    <div class="form-row">
        <label for="postTitle">Title</label>
        <input type="text" name="postTitle" id="postTitle">
    </div>
    <div class="form-row">
        <input type="text" id="postBody">
    </div>
    <div class="form-row">
        <button id="submitPost" type="submit">Submit</button>
    </div>
</form>

<script src="/js/post.js"></script>