<div id="addPostBox">
    <form  id="addPostForm" type="submit">
        <textarea id="addPostTitle" type="text" placeholder="Title:"></textarea>
        <textarea id="addPostBody" placeholder="Write your post here..."></textarea>
        <button id="addPostBtn" type="submit">Add Post</button>
    </form>
</div>

<script src="/js/post.js"></script>