<div id="editBox">
    <form type="submit" id="editForm" data-postId="{{{post.id}}}">
        <div class="formRow">
            <input type="text" id="editTitle" value="{{{post.title}}}">
        </div>
        <div class="formRow">
            <textarea type="text" id="editBody" value="">{{{post.body}}}</textarea>
        </div>
        <div class="formRow">
            <button id="editPost" type="submit">Edit Post</button>
        </div>
    </form>
</div>

<script src="/js/post.js"></script>