<div id="editPostBox">
    <form type="submit" id="editPostForm" data-postId="{{{post.id}}}">
        <input type="text" id="editPostTitle" value="{{{post.title}}}">
        <textarea type="text" id="editPostBody" value="">{{{post.body}}}</textarea>
        <button id="editPostBtn" type="submit">Edit Post</button>
    </form>
</div>

<script src="/js/post.js"></script>