<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header class="navbar">
        <h1 class="navbar-brand">Tech Blog</h1>
        <div>
            <a href="#!" class="nav-link">Sign Up </a><span>|</span>
            <a href="#!" class="nav-link">Sign In </a>
        </div>
    </header>
    <main>
        <article>
            <header>
                <h2 class="article-title">Title</h2>
            </header>
            <p class="article-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quae autem dignissimos doloremque libero quam fugiat, excepturi nesciunt veniam. Quod reiciendis quidem dolorem molestiae deserunt voluptatibus mollitia accusamus reprehenderit eos!</p>
        </article>
    </main>
</body>
</html>