<div class="sign-box">
    <header class="sign-header">
        <h1 class="sign-title">Sign Up</h1>
    </header>
    <div class="sign-body">
        <form id="login-form" class="sign-form">
            <div class="form-row">
                <label for="username">User Name:</label>
                <input type="text" id="username-login" name="username" placeholder="16 characters max">
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password-login" name="password" placeholder="8-24 characters">
            </div>
            <div class="form-row">
                <button type="submit" action="">Login</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>