{{>singlePost post}}

<div id="addCommentBox">
    <form id="addCommentForm" data-postId="{{{post.id}}}" type="submit">
        <textarea id="addCommentBody" placeholder="Enter a comment here..."></textarea>
        <button id="addCommentBtn" type="submit">Add Comment</button>
    </form>
</div>

<script src="/js/comment.js"></script>

{{#each post.comments as |comment|}}
{{>comment comment}}
{{/each}}