{{#if logged_in}}
<div id="newPostArea">
    <a class="newPostBtn" href="/post/new"> 
        <p id="newPostBtn">Add A Post</p>
    </a>     
</div> 
<script src="./js/post.js"></script>
{{/if}}

{{#each posts as |post| }}
<article>
    {{>truncPost post}}
</article>

{{/each}}