{{#if logged_in}}
<button id="newPostBtn">Add a post</button> 
<script src="./js/post.js"></script>
{{/if}}

{{#each posts as |post| }}
<article>
    <header class="article-header">
        <h2 class="article-title">{{{post.title}}}</h2>
        <p>DA/TE/ND TI:ME</p>
    </header>
    <p>by {{{post.user.userName}}}</p>
    <p class="article-body">
        {{{post.body}}}</p>
</article>
{{/each}}